@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.BookName): @Html.DisplayFor(model => model.BookName)</h3>

@if(@Model.Authors.Count == 0)
{
  <p>This book does not belong to any authors</p>
}
else
{
  <h4>Authors of the book:</h4>
  <ul>
  @foreach(var join in Model.Authors)
  {
    <li>@join.Author.AuthorName</li>

    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}


 <p>@Html.ActionLink("Back to list", "Index")</p>
 <p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.BookId })</p>
 <p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.BookId })</p>
 <p>@Html.ActionLink("Add a Author", "AddAuthor", new { id = Model.BookId })</p>